:host
{
 background: -webkit-linear-gradient(315deg, #bd0043, #47bdb6);
  background: linear-gradient(135deg, #bd0043, #47bdb6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 2.500em;
  height: 100vh;
}
 .item {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-family: sans-serif;
  margin: .5em;
  position: relative;
}	