<a>
      <md-card>
      <h4><a href="#">{{news.source}}</a></h4><span>{{news.publishTime}}</span>
       <img md-card-lg-image src='{{news.urlToImage}}'/>
        <md-card-title-group>
          <md-card-title>{{news.title}}</md-card-title>
          <md-card-subtitle *ngIf="subtitle">{{news.author}}</md-card-subtitle>
        </md-card-title-group>
        <md-card-content>
          <p *ngIf="description">{{news.description}}</p>
        </md-card-content>
        <md-card-footer>
      <span *ngIf='author' class='right' >By:{{news.author}}</span>
        </md-card-footer>
      </md-card>
    </a>