 <md-sidenav-layout fullscreen>
  <md-toolbar>
 <header>
 <div class='black'>
 <img src="../assets/images/logo.png" style='width:70%;' class="img-responsive log"> 
 </div>
 
</header> 
<div class='right'><i class="fa fa-th" aria-hidden="true" (click)=" menuClick()"></i> </div>
</md-toolbar>

<ng-content>
     
 </ng-content>
    <div *ngIf="loading" ><app-loader></app-loader></div>
  </md-sidenav-layout>

  <div class='site-side' [ngClass]="{'displayblock':menustatus }">
  <div class="newsapp-logos">
<a href="/">
<img src="../assets/images/logo.png" style='width:70%;' class="img-responsive">

</a>


</div>

<nav class="side-nav"  >
<ul class="list-unstyled nav-text">
 

<li><a [routerLink]="['/Entertainment']" >
<span class="iconic iconic-media-play-circle"></span>
<i class="fa fa-gamepad" aria-hidden="true"></i>Entertainment
</a></li>
<li><a [routerLink]="['/Movies']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-film" aria-hidden="true"></i>Movies
</a></li>
<li><a [routerLink]="['/News']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-newspaper-o" aria-hidden="true"></i>News
</a></li>

<li><a [routerLink]="['/Business']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-credit-card-alt" aria-hidden="true"></i>Business
</a></li>
<li><a [routerLink]="['/Fashion']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-sun-o" aria-hidden="true"></i>Fashion
</a></li>
<li><a [routerLink]="['/Technology']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-life-ring" aria-hidden="true"></i>Technology
</a></li>

<li><a [routerLink]="['/Technology']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-angellist" aria-hidden="true"></i>Hot Offer
</a></li>

<li><a [routerLink]="['/Technology']" >
<span class="iconic iconic-chat"></span>
<i class="fa fa-quote-left" aria-hidden="true"></i>Quotes
</a></li>
</ul>
</nav>

  </div>
 