md-sidenav-layout {
      background: #ccc;
    }
    
    *, /deep/ * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    md-toolbar
    {
    	background:#1d1e1f;
    	color:#F8E71C;
    }
    app-loader
    {
    position: fixed;
    left: 50%;
    top: 45%;
    }