md-sidenav-layout {
      background: #ccc;

    }
    
    *, /deep/ * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    md-toolbar
    {
    	
    	color:#F8E71C;
        background: #f7f7f7;
    z-index: 88;
    position: relative;
    min-height: 60px;
    }
    app-loader
    {
    position: fixed;
    left: 50%;
    top: 45%;
    }



    .site-side {
    position: fixed;
    height: 100%;
    width: 220px;
    background: #fff;
    z-index: 999;
    top: 0;
    left: 0;
}

.site-side .newsapp-logos {
    padding-bottom: 20px;
    padding-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    background:  #111;
    display:none;
}

.site-side .newsapp-logos:hover {
    background: #111;
}


.site-side .nav-text {
    margin: 0;
    padding: 0;
}
.list-inline, .list-unstyled,ul{
    padding-left: 0;
    list-style: none;
}

.site-side .nav-text a
{
    color:#000;
}


.site-side .nav-text a:hover {
    color: #FFF;
    background: #1d1d1d;
}
.site-side .nav-text a {
    color: #030000;
    display: block;
    padding: 7px 30px 12px;
    font-size: 17px;
    letter-spacing: .5px;
    transition: .3s ease all;
    line-height: 1;
    text-decoration: none;
}
.site-side .nav-text a, .site-side .scotch-logos {
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
}
ul
{
   font-family: 'Mirza', cursive;
}
i
{
    margin-right:10px;
}