/*:host {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }*/

   /* .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    width:auto;
    float:left;
     }*/

     :host{
     	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vw;
	font-size: 0; 
     }