/* You can add global styles to this file, and also import other style files */
section.left-container
{
	margin-left:220px;
	overflow-x:hidden;
}
.main-news
{
   width: 90%;
    height: auto;
    min-height: 200px;
    background: #fff;
    margin: 20px auto
}
.site-side
{
    font-family: 'Aref Ruqaa', serif;
}
.left-container p
{
    font-family: 'Roboto', sans-serif;

}
.title, md-card-title,h6
{
    font-family: 'Mirza', cursive;
}
/*Responsive-------------------*/

@media (max-width:768px)
{
    .site-side
    {
        display: none;
    }

   section.left-container
    {
        margin-left:0px;        
    }

.log,i.fa-th
{
    display:block!important;
}
md-toolbar md-toolbar-row
{
    min-height: 80px;
}
md-toolbar
{
    background: #000!important;
}
}
